<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - PIL ANDINA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contacto.css') }}"> <!-- Enlace al CSS externo -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon (4).ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon (4).ico') }}" type="image/x-icon">
</head>
<body>
    <img src="{{ url_for('static', filename='imagenes/fondopil.jpg') }}" alt="Imagen de Fondo" class="full-size-image">

    <header class="container">
        <img src="{{ url_for('static', filename='imagenes/logo1.png') }}" alt="Logo" class="logo">
        <div>
            <h1><b>PIL</b> ANDINA S.A.</h1>
            <br>
            <nav class="nav-container">
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}"><b>INICIO</b></a></li>
                    <li><a href="{{ url_for('quienes_somos') }}"><b>QUIÉNES SOMOS</b></a></li>
                    <li><a href="{{ url_for('servicios') }}"><b>SERVICIOS</b></a></li>
                    <li><a href="{{ url_for('noticias') }}"><b>NOTICIAS</b></a></li>
                    <li><a href="{{ url_for('contacto') }}"><b>CONTACTO</b></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        <h2>Contacto</h2>
        
        <div class="form-container">
            <form action="#" method="POST">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="message">Mensaje:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
    
                <button type="submit">Enviar</button>
            </form>
        </div>

        <div class="location-container">
            <section class="contact-info">
                <h3>Información de Contacto</h3>
                <p><strong>Dirección:</strong> Avenida Juan Pablo II, Ciudad de El Alto, Bolivia</p>
                <p><strong>Teléfono:</strong> +591 64152670</p>
                <p><strong>Correo Electrónico:</strong> contacto@pilandina.com</p>
            </section>
    
            <section class="map">
                <h3>Nuestra Ubicación</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1352.5911722165251!2d-68.20436659309541!3d-16.490440198997476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spil%20andina!5e0!3m2!1ses-419!2sbo!4v1729061724579!5m2!1ses-419!2sbo" 
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>
        </div>
    </main>

    <div class="social-buttons">
        <a href="https://www.facebook.com" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/facebook.png') }}" alt="Facebook" class="social-icon">
        </a>
        <a href="https://twitter.com" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/twitter.png') }}" alt="Twitter" class="social-icon">
        </a>
        <a href="https://www.instagram.com" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/instagram.png') }}" alt="Instagram" class="social-icon">
        </a>
        <a href="https://www.linkedin.com/in/" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/linkedin.png') }}" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://www.youtube.com" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/youtube.png') }}" alt="YouTube" class="social-icon">
        </a>
        <a href="https://www.tiktok.com" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/tik-tok.png') }}" alt="TikTok" class="social-icon">
        </a>
        <a href="https://wa.me/64152670" target="_blank">
            <img src="{{ url_for('static', filename='imagenes/whatsapp.png') }}" alt="WhatsApp" class="social-icon">
        </a>
    </div>

    <footer>
        <p>&copy; 2024 PIL ANDINA S.A. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
